/* CONTENT - DISEÑO MOBILE*/
/* PÁGINA "INICIO" */
section{
    p{
        color: $blanco;
        font-weight: bolder;
        font-family: $fontPrimary;
        font-size: 20px;
        line-height: 1.8;
        text-align: center;
        text-shadow: 0 0 8px rgba(0, 0, 0, 0.8);
        margin: 30px;
    }
    h3, h2{
        color: $verde_aqua;
        font-family: $cursiva;
        font-size: 50px;
        text-align: center;
        margin: 30px;
    }
    iframe{
        width: 90%;
        height: 250px;
        border-radius: 5px;
        border: 5px solid $amarillo;
        margin: auto;
        display: block;
        margin-bottom: 50px;
    }
    h1{
        font-family: $cursiva;
        color: $blanco;
        font-size: 40px;
        margin-top: 0;
    }
    h4{
        font-family: $fontPrimary;
        color: $blanco;
        margin-top: 30px;
    }
}

/* PÁGINA "NOSOTROS" */
#duena{
    background-color: $amarillo;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 60px;
    width: 90%;
}

#img_duena{
    height: 250px;
}

/* CARPETA "MENÚ_PLATOS" */
#platos{
    margin-bottom: 35px;
    width: 100%;
    padding: 0;
}

div{
    .p_entradas{
        color: $blanco;
        font-family: $cursiva;
        margin-right: auto;
        margin-left: auto;
        /* Aplicamos el map */
        display: map-get($mapa,mostrar);
        align-items: map-get($mapa,centro);
        text-align: map-get($mapa,centro);
        font-size: map-get($mapa,tamaño_mobile);
    }
}

#entradas_derecha{
    /* Aplicamos el MIXIN */
    @include flexbox();
    /* Aplicamos el EXTEND */
    @extend %codigo_compartido;
    flex-direction: map-get($mapa,derecha);
}

#entradas_izquierda{
    /* Aplicamos el MIXIN */
    @include flexbox();
    /* Aplicamos el EXTEND */
    @extend %codigo_compartido;
    flex-direction: map-get($mapa,izquierda);
}

.img_menu{
    width: map-get($mapa,ancho);
    height: map-get($mapa,alto_mobile);
}

/* PÁGINA "GALERÍA" */
#cont_galeria{
    margin-bottom: 50px;
}

.fotos{
    width: 85%;
    height: auto;
    border: 5px solid $amarillo;
    text-align: center;
}

#galeria{
    text-align: center;
    margin: 15px;
    margin-right: auto;
    margin-left: auto;
}

/* PÁGINA "CONTACTO" */
form{
    background-color: $blanco;
    padding: 20px;
    border-radius: 3px;
    font-size: 15px;
    font-family: $fontPrimary;
}

input, textarea{
    outline: none;
    border: 0;
    width: 100%;
    font-family: $fontPrimary;
    color: $negro;
}

select{
    font-family: $fontPrimary;
    width: 100%;
    padding: 10px;
    border: solid 1.5px #ccc;
    &:focus{
        border-color: $amarillo;
    }
    &:hover{
        color: $amarillo;
    }
}

.campo{
    border: solid 1.5px #ccc;
    padding: 10px;
    margin-bottom: 15px;
    &:focus{
        border-color: $amarillo;
    }
}

.center_content{
    text-align: center;
}

.boton{
    padding: 10px;
    background-color: $amarillo;
    font-family: $cursiva;
    color: $blanco;
    font-size: 30px;
}

#cont_form{
    width: 90%;
    margin-top: 10px;
    margin-bottom: 60px;
}