/* CONTENT - DISEÑO MOBILE*/
#platos{
    margin-bottom: 35px;
    padding: 0;
}

div{
    .p_entradas{
        color: $blanco;
        font-family: $cursiva;
        margin-right: auto;
        margin-left: auto;
        /* Aplicamos el map */
        display: map-get($mapa,mostrar);
        align-items: map-get($mapa,centro);
        text-align: map-get($mapa,centro);
        font-size: map-get($mapa,tamaño_mobile);
    }
}

#entradas_derecha{
    /* Aplicamos el MIXIN */
    @include flexbox();
    /* Aplicamos el EXTEND */
    @extend %codigo_compartido;
    flex-direction: map-get($mapa,derecha);
}

#entradas_izquierda{
    /* Aplicamos el MIXIN */
    @include flexbox();
    /* Aplicamos el EXTEND */
    @extend %codigo_compartido;
    flex-direction: map-get($mapa,izquierda);
}

.img_menu{
    width: map-get($mapa,ancho);
    height: map-get($mapa,alto_mobile);
}