*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

/* DISEÑO PARA MOBILE*/
body{
    background-image: url("../Images/fondo_mobile.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}