$mapa: (
    mostrar: flex,
    centro: center,
    izquierda: row-reverse,
    derecha: row,
    espacio: space-between,
    tamaño_mobile: 40px,
    tamaño_desktop: 70px,
    relleno: 20px,
    ancho: 50%,
    alto_mobile: 220px,
    alto_desktop: 320px,
);